<!-- ========== GASTOS GENERALES ========== -->
<div class="card border-dark mb-4" [formGroup]="formulario">
  <div class="card-header bg-dark text-white">
    <h5 class="mb-0">
      <i class="bi bi-cash-stack me-2"></i>4. Gastos Generales y de Operación
    </h5>
  </div>

  <div class="card-body">
    <table class="table table-bordered mb-3">
      <tbody>
        <!-- Input: Porcentaje de Gastos Generales -->
        <tr>
          <td>
            <div class="col-md-3">
              <label for="gastosGenerales" class="form-label fw-bold"
                >Gastos Generales (%)</label
              >
              <input
                type="number"
                class="form-control"
                formControlName="gastosGenerales"
                step="0.01"
                min="0.01"
                max="1"
                (keydown)="blockE($event)"
              />
              <div
                *ngIf="formulario.get('gastosGenerales')?.errors?.['required'] && formulario.get('gastosGenerales')?.touched"
                class="text-danger small"
              >
                Campo requerido.
              </div>
              <div
                *ngIf="formulario.get('gastosGenerales')?.errors?.['min'] && formulario.get('gastosGenerales')?.touched"
                class="text-danger small"
              >
                Mínimo permitido: 0.01
              </div>
              <div
                *ngIf="formulario.get('gastosGenerales')?.errors?.['max'] && formulario.get('gastosGenerales')?.touched"
                class="text-danger small"
              >
                Máximo permitido: 1.00
              </div>
            </div>
          </td>

          <td class="text-end align-middle">
            {{ gastosGenerales | number : "1.2-2" }}
          </td>
        </tr>

        <!-- Total de Gastos Generales (materiales + mano de obra + equipos) -->
        <tr class="table-secondary fw-bold">
          <td>Total Gastos Generales (1+2+3)</td>
          <td class="text-end">
            {{ gastosGenerales | number : "1.2-2" }}
          </td>
        </tr>

        <!-- Total de Gastos de Operación (materiales + mano de obra + equipos + gastos generales) -->
        <tr class="table-dark text-white fw-bold">
          <td>Total Gastos de Operación (1+2+3+4)</td>
          <td class="text-end">
            {{ totalOperacion | number : "1.2-2" }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
