.hero-section {
  background-image: url("https://res.cloudinary.com/dsbgmboh1/image/upload/v1777092643/fondo_c4zmys.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 80px;
  min-height: 100vh;
  position: relative;
}

/* overlay oscuro para que el texto se lea bien */
.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

/* asegura que el contenido esté encima */
.hero-section .container-fluid {
  position: relative;
  z-index: 2;
}

.registro-overlay {
  margin-top: -40px; /* súbelo un poco */
}

/* nuevos  */
.registro-overlay {
  margin-top: -60px;

  background: rgba(255, 255, 255, 0.15); /* transparencia */
  backdrop-filter: blur(10px); /* efecto vidrio */
  -webkit-backdrop-filter: blur(10px);

  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);

  color: #fff; /* texto blanco para que se vea */
}
.registro-overlay .card-body {
  background: transparent;
}
header {
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

/* ===================== */
/* MAPA */
/* ===================== */

.ratio iframe {
  border-radius: 8px;
}

/* ===================== */
/* RESPONSIVE */
/* ===================== */

@media (max-width: 768px) {
  section {
    padding: 50px 0;
  }

  .hero-section {
    min-height: 70vh;
    padding-top: 60px;
  }

  .hero-content {
    text-align: center;
    margin: 0 auto;
  }

  .hero-content p {
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  header img {
    max-width: 130px;
  }

  .btn {
    font-size: 13px;
    padding: 6px 12px;
  }
}
