<div class="row justify-content-center">
  <div class="col-md-8">
    <div
      class="card p-4 mt-5 rounded w-100 d-flex flex-column bg-light bg-opacity-75 shadow"
    >
      <h3 class="text-center mb-4">Registro de Usuario</h3>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label>Nombre</label>
            <input
              formControlName="nombres"
              class="form-control"
              placeholder="Ingrese su nombre"
            />
            <div
              *ngIf="
                registerForm.get('nombres')?.invalid &&
                registerForm.get('nombres')?.touched
              "
              class="text-danger"
            >
              Campo obligatorio.
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label>Apellido</label>
            <input
              formControlName="apellidos"
              class="form-control"
              placeholder="Ingrese su apellido"
            />
            <div
              *ngIf="
                registerForm.get('apellidos')?.invalid &&
                registerForm.get('apellidos')?.touched
              "
              class="text-danger"
            >
              Campo obligatorio.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label>Ci</label>
          <input
            type="number"
            formControlName="ci"
            (keydown)="blockE($event)"
            min="7"
            max="13"
            class="form-control"
            placeholder="Cédula de identidad"
          />
          <div
            *ngIf="
              registerForm.get('ci')?.touched && registerForm.get('ci')?.invalid
            "
            class="text-danger"
          >
            <div *ngIf="registerForm.get('ci')?.errors?.['required']">
              El campo CI es obligatorio.
            </div>
            <div *ngIf="registerForm.get('ci')?.errors?.['pattern']">
              El CI debe contener solo números (7 a 13 dígitos).
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label>Teléfono</label>
          <input
            type="number"
            formControlName="telefono"
            (keydown)="blockE($event)"
            class="form-control"
            placeholder="Teléfono o celular"
          />
          <div
            *ngIf="
              registerForm.get('telefono')?.invalid &&
              registerForm.get('telefono')?.touched
            "
            class="text-danger"
          >
            <div *ngIf="registerForm.get('telefono')?.errors?.['required']">
              El teléfono es obligatorio.
            </div>
            <div *ngIf="registerForm.get('telefono')?.errors?.['pattern']">
              El teléfono debe comenzar con 6 o 7 y tener 8 dígitos numéricos.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label>Correo</label>
          <input
            type="email"
            formControlName="correo"
            class="form-control"
            placeholder="correo@ejemplo.com"
          />
          <div
            *ngIf="
              registerForm.get('correo')?.invalid &&
              registerForm.get('correo')?.touched
            "
            class="text-danger"
          >
            Correo inválido.
          </div>
        </div>

        <div class="mb-3">
          <label>Fecha de nacimiento</label>
          <input
            type="date"
            formControlName="fecha_nacimiento"
            class="form-control"
          />
          <div
            *ngIf="
              registerForm.get('fecha_nacimiento')?.errors?.['underage'] &&
              registerForm.get('fecha_nacimiento')?.touched
            "
            class="text-danger"
          >
            La fecha no es correcta debe ser mayor de 18 años para registrarse.
          </div>
        </div>

        <div class="mb-3">
          <label>Contraseña</label>
          <input
            type="password"
            formControlName="clave"
            class="form-control"
            placeholder="Contraseña"
          />
          <div
            *ngIf="registerForm.get('clave')?.errors?.['required']"
            class="text-danger"
          >
            La contraseña es obligatoria.
          </div>
          <div
            *ngIf="registerForm.get('clave')?.errors?.['pattern'] && registerForm.get('clave')?.touched"
            class="text-danger"
          >
            La contraseña debe tener al menos 8 caracteres, una mayúscula y un
            carácter especial.
          </div>
        </div>

        <button type="submit" class="btn btn-success w-100">Registrarse</button>
      </form>
    </div>
  </div>
</div>
