<div class="container my-4">
  <!-- Sección 1: Vacía -->
  <section class="mb-4 border rounded p-3">
    <div class="card mb-4 border-0">
      <div class="card-body text-center">
        <h1 class="mb-3">ANÁLISIS DE PRECIOS UNITARIOS</h1>
        <div class="row justify-content-center">
          <div class="col-md-10 text-start">
            <p>
              <strong>Proyecto: </strong>
              <span class="text-dark"> </span>
            </p>
            <p>
              <strong>Actividad: </strong>
              <span class="text-dark"></span>
            </p>
            <p>
              <strong>Cantidad: </strong>
              <span class="text-dark"></span>
            </p>
            <p>
              <strong>Unidad: </strong>
              <span class="text-dark"></span>
            </p>
            <p><strong>Moneda:</strong> Bolivianos</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Sección 2: Crear Materiales -->
  <section class="mb-4 border rounded p-3">
    <h5 class="text-primary">Sección 2: Materiales</h5>
    <app-crear-materiales></app-crear-materiales>
  </section>

  <!-- Sección 3: Crear Mano de Obra -->
  <section class="mb-4 border rounded p-3">
    <h5 class="text-primary">Sección 3: Mano de Obra</h5>
    <app-crear-mano-de-obra></app-crear-mano-de-obra>
  </section>

  <!-- Sección 4: Crear Equipos y Herramientas -->
  <section class="mb-4 border rounded p-3">
    <h5 class="text-primary">Sección 4: Equipos y Herramientas</h5>
    <app-crear-equipo-herramienta></app-crear-equipo-herramienta>
  </section>

  <!-- Sección 5: Crear Gastos Generales -->
  <section class="mb-4 border rounded p-3">
    <h5 class="text-primary">Sección 5: Gastos Generales</h5>
    <app-crear-gastos-generales></app-crear-gastos-generales>
  </section>
</div>
