input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  border: none;            
  background: transparent;   
}

input[type=number]:focus {
  outline: none;             
  box-shadow: none;          
}
