/* Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
.proyecto-row {
  cursor: pointer;
  transition: background-color 0.2s;
}

.proyecto-row:hover {
  background-color: #e7e7e7;
}
