:host {
  display: block;
  width: 100%;
}

.registro-wrapper {
  width: 100%;
}

.registro-card {
  background: transparent;
}

.form-label {
  margin-bottom: 0.5rem;
  font-size: 0.98rem;
}

.input-group-text {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
}
.form-control {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.form-control:focus {
  background: rgba(255, 255, 255, 0.25);
  border-color: #0d6efd;
  box-shadow: 0 0 0 0.15rem rgba(13, 110, 253, 0.25);
  color: #fff;
}
.form-label {
  color: rgba(255, 255, 255, 0.85);
}
.btn-primary {
  background: rgba(13, 110, 253, 0.8);
  border: none;
}
.input-group {
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 0.85rem;
}

.form-control,
.input-group-text,
.btn {
  border-radius: 0.85rem;
}

.input-group > .form-control,
.input-group > .input-group-text,
.input-group > .btn {
  min-height: 56px;
}

.alert {
  font-size: 0.95rem;
}

@media (max-width: 991.98px) {
  .registro-card {
    max-width: 100%;
  }
}

@media (max-width: 575.98px) {
  .card-body {
    padding: 1.25rem !important;
  }

  h2 {
    font-size: 1.75rem;
  }

  .btn,
  .form-control,
  .input-group-text {
    font-size: 0.95rem;
  }
}

/* fondo para la onfirmacon del registro  */
.registro-wrapper {
  width: 100%;
  min-height: 100vh;
  transition: all 0.4s ease;
}

/* SOLO cuando viene desde confirmación */
.registro-wrapper.confirmacion-activa {
  background-image: url("https://res.cloudinary.com/dsbgmboh1/image/upload/v1777767305/login1_fncl0q.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2rem;
  border-radius: 1rem;

  position: relative;
  overflow: hidden;
}
.registro-wrapper.confirmacion-activa .registro-card,
.registro-wrapper.confirmacion-activa form {
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  padding: 2rem;
  border-radius: 1.5rem;

  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);
}
