.fondo {
    background-image: url("https://fotos.perfil.com/2024/07/05/trim/987/555/asesores-financieros-1831461.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    image-rendering: auto;
}
