<form [formGroup]="formulario">
  <div class="card">
    <div class="card-header bg-primary bg-opacity-25">
      <h5><i class="bi bi-bricks me-1"></i>1. Materiales</h5>
    </div>

    <div class="card-body" formArrayName="materiales">
      <div class="d-flex justify-content-end no-export">
        <button
          type="button"
          class="btn btn-outline-primary mb-3"
          (click)="agregarMaterial()"
        >
          + Agregar material
        </button>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Descripción</th>
            <th>Unidad</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Precio Total</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="let mat of materiales.controls; let i = index"
            [formGroupName]="i"
          >
            <!-- DESCRIPCIÓN -->
            <td class="position-relative">
              <input
                type="text"
                class="form-control"
                formControlName="descripcion"
                (focus)="mostrarDescripcion(i)"
                (input)="
                  filtrarDescripcion(i); convertirAMayusculas(i, 'descripcion')
                "
                (blur)="ocultarDescripcion(i)"
              />
              <ul
                *ngIf="opcionesDescripcion[i]?.length"
                class="list-group position-absolute w-100"
                style="z-index: 1000; max-height: 200px; overflow-y: auto"
              >
                <li
                  class="list-group-item list-group-item-action"
                  *ngFor="let opt of opcionesDescripcion[i]"
                  (click)="seleccionarDescripcion(i, opt)"
                >
                  {{ opt.descripcion }}
                </li>
              </ul>
            </td>

            <!-- UNIDAD -->
            <td class="position-relative">
              <input
                type="text"
                class="form-control"
                formControlName="unidad"
                (focus)="mostrarUnidad(i)"
                (input)="filtrarUnidad(i); convertirAMayusculas(i, 'unidad')"
                (blur)="ocultarUnidad(i)"
              />
              <ul
                *ngIf="opcionesUnidad[i]?.length"
                class="list-group position-absolute w-100"
                style="z-index: 1000; max-height: 200px; overflow-y: auto"
              >
                <li
                  class="list-group-item list-group-item-action"
                  *ngFor="let u of opcionesUnidad[i]"
                  (click)="seleccionarUnidad(i, u)"
                >
                  {{ u }}
                </li>
              </ul>
            </td>

            <!-- CANTIDAD -->
            <td>
              <input
                type="number"
                class="form-control"
                formControlName="cantidad"
              />
            </td>
            <!-- PRECIO UNITARIO -->
            <td>
              <input
                type="number"
                class="form-control"
                formControlName="precio_unitario"
                (change)="onPrecioUniChange(mat, i)"
              />
            </td>

            <!-- TOTAL -->

            <td class="text-end">
              {{ formatearNumero(calcularTotalFila(mat)) }}
            </td>

            <!-- ACCIONES -->
            <td class="text-center">
              <button
                *ngIf="!mat.get('id')?.value"
                type="button"
                class="btn btn-outline-success btn-sm me-1"
                (click)="guardar(i)"
                title="Guardar material"
              >
                <i class="bi bi-check-lg"></i>
              </button>

              <button
                *ngIf="mat.get('id')?.value && mat.dirty"
                type="button"
                class="btn btn-outline-primary btn-sm me-1"
                (click)="guardar(i)"
                title="Guardar cambios"
              >
                <i class="bi bi-arrow-clockwise"></i>
              </button>

              <button
                type="button"
                class="btn btn-outline-danger btn-sm"
                (click)="eliminar(i)"
                title="Eliminar material"
              >
                <i class="bi bi-trash3"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- TOTAL GENERAL -->

    <div class="card-footer text-end fw-bold">
      TOTAL MATERIALES: {{ formatearNumero(totalMateriales) }}
    </div>
  </div>
</form>
