<form [formGroup]="formulario">
  <div class="card border-primary mb-4">
    <div class="card-header bg-primary text-white">
      <h5 class="mb-0"><i class="bi bi-box-seam me-2"></i>1. Materiales</h5>
    </div>
    
    <div class="card-body" formArrayName="materiales">
     <div class="d-flex justify-content-end no-export">
       <button
        type="button"
        class="btn btn-outline-primary mt-2 mb-3 "
        (click)="agregarMaterial()"
      >
        <i class="bi bi-plus-circle me-1"></i> Añadir Material
      </button>
    </div>
      <table class="table table-bordered table-hover align-middle mb-3">
        <thead class="table-light text-center">
          <tr>
            <th>Descripción</th>
            <th>Unidad</th>
            <th>Cantidad</th>
            <th>P. Unitario</th>
            <th>Precio parcial</th>
            <th class="no-export">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let mat of materiales.controls; let i = index"
            [formGroupName]="i"
          >
            <!-- Descripción -->
            <td>
              <input
                type="text"
                class="form-control"
                formControlName="descripcion"
                placeholder="Ej. Cemento"
              />
              <div
                *ngIf="mat.get('descripcion')?.errors?.['required']"
                class="text-danger small"
              >
                Campo requerido.
              </div>
            </td>

            <!-- Unidad -->
           <td>
              <!-- Mostrar select si es nuevo o está en modo editar -->
              <ng-container *ngIf="mat.get('esNuevo')?.value || mat.get('editarUnidad')?.value; else verUnidad">
                <select
                  class="form-select"
                  formControlName="unidad"
                  (blur)="mat.get('editarUnidad')?.setValue(false)"
                >
                  <option value="" selected>Seleccione unidad</option>
                  <option value="BLS">BLS – BOLSA</option>
                  <option value="BRR">BRR – BARRA</option>
                  <option value="CD">CD – CUADRILLA DIA.</option>
                  <option value="CJA">CJA – CAJA</option>
                  <option value="CNX">CNX – CONEXION</option>
                  <option value="EVE">EVE – EVENTO</option>
                  <option value="GL">GL – GALON</option>
                  <option value="GLB">GLB – GLOBAL</option>
                  <option value="HA">HA – HECTAREA</option>
                  <option value="HDR">HDR – HOMBRES POR DIA</option>
                  <option value="HH">HH – HOMBRES HORA</option>
                  <option value="HR">HR – HORA</option>
                  <option value="HRS">HRS – HORAS</option>
                  <option value="HY.">HY. – HOYO</option>
                  <option value="JGO">JGO – JUEGO</option>
                  <option value="KG">KG – KILOGRAMOS</option>
                  <option value="KIT">KIT – KITS</option>
                  <option value="KM">KM – KILOMETRO</option>
                  <option value="KMB">KMB – KILOMETROS BERMA</option>
                  <option value="LT">LT – LITROS</option>
                  <option value="M">M – METRO</option>
                  <option value="M2">M2 – METROS CUADRADOS</option>
                  <option value="M3">M3 – METROS CUBICOS</option>
                  <option value="M3K">M3K – METRO CUBICO POR KILOMETRO</option>
                  <option value="MED">MED – MEDICION</option>
                  <option value="MK">MK – MOTO KILOMETRO</option>
                  <option value="ML">ML – METROS LINEALES</option>
                  <option value="P2">P2 – PIE CUADRADO</option>
                  <option value="PAR">PAR – UN PAR</option>
                  <option value="PER">PER – PERSONAS</option>
                  <option value="PIE">PIE – PIE LINEAL</option>
                  <option value="PLA">PLA – PLANTIN</option>
                  <option value="PTO">PTO – PUNTO</option>
                  <option value="PZA">PZA – PIEZA</option>
                  <option value="RLL">RLL – ROLLO</option>
                  <option value="TLL">TLL – TALLER</option>
                  <option value="TN">TN – TONELADA</option>
                  <option value="TON">TON – TONELADAS</option>
                  <option value="UND">UND – UNIDAD</option>
                </select>
              </ng-container>

              <!-- Modo solo lectura -->
              <ng-template #verUnidad>
                <p
                  (click)="mat.get('editarUnidad')?.setValue(true)"
                  class="mb-0"
                  style="cursor: pointer;"
                >
                  {{ unidadTexto(mat.get('unidad')?.value) }}
                </p>
              </ng-template>
            </td>



            <!-- Cantidad -->
            <td>
              <input
                type="number"
                class="form-control"
                formControlName="cantidad"
                (keydown)="blockE($event)"
                (change)="onCantidadChange(mat)"
              />
            </td>

            <!-- Precio Unitario -->
            <td>
              <input
                type="number"
                class="form-control"
                formControlName="precio_unitario"
                (keydown)="blockE($event)"
                (change)="onPrecioUniChange(mat)"
              />
            </td>

            <!-- Precio Parcial (readonly) -->
            <td>
              <input
                  type="number"
                  class="form-control bg-white"
                  [value]="mat.get('total')?.value"
                  readonly
                />
            </td>

            <!-- Acción -->
            <td class="text-center no-export">
              <div class="d-flex justify-content-center gap-2">
                <ng-container *ngIf="mat.get('esNuevo')?.value; else accionesExistente">

                  <button
                    class="btn btn-success btn-sm"
                    (click)="registrarItem(i)"
                  >
                    <i class="bi bi-check2-circle me-1"></i> Registrar
                  </button>
                  <button class="btn btn-danger btn-sm" (click)="eliminarItem(i)">
                    <i class="bi bi-trash"></i> Eliminar
                  </button>
                </ng-container>
                <ng-template #accionesExistente>
                  <button
                    class="btn btn-primary btn-sm"
                    (click)="actualizarItem(i)"
                  >
                    <i class="bi bi-pencil"></i> Actualizar
                  </button>
                  <button class="btn btn-danger btn-sm" (click)="eliminarItem(i)">
                    <i class="bi bi-trash"></i> Eliminar
                  </button>
                </ng-template>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="card-footer">
      <table class="table table-bordered table-hover mb-0">
        <tbody>
          <tr class="table-primary fw-bold">
            <td>Total Materiales</td>
            <td class="text-end">{{ totalMateriales | number : "1.2-2" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
