<!-- crear-equipo-herramienta.component.html -->
<form [formGroup]="formulario">
  <div class="card">
    <div class="card-header bg-warning bg-opacity-25">
      <h5><i class="bi bi-tools me-1"></i>3. Equipo y Herramienta</h5>
    </div>

    <div class="card-body" formArrayName="equipos">
      <div class="d-flex justify-content-end no-export">
        <button
          type="button"
          class="btn btn-outline-success mb-3"
          (click)="agregarEquipoHerramienta()"
        >
          + Agregar equipo/herramienta
        </button>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>DESCRIPCIÓN</th>
            <th>UNIDAD</th>
            <th>CATIDAD</th>
            <th>PRECIO UNITARIO</th>
            <th>PRECIO TOTAL</th>
            <th>ACCIONES</th>
          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="let equipo of equipos.controls; let i = index"
            [formGroupName]="i"
          >
            <!-- DESCRIPCIÓN -->
            <td class="position-relative">
              <input
                type="text"
                class="form-control"
                formControlName="descripcion"
                (focus)="mostrarDescripcion(i)"
                (input)="
                  filtrarDescripcion(i); convertirAMayusculas(i, 'descripcion')
                "
                (blur)="ocultarDescripcion(i)"
              />
              <ul
                *ngIf="opcionesDescripcion[i]?.length"
                class="list-group position-absolute w-100"
                style="z-index: 1000; max-height: 200px; overflow-y: auto"
              >
                <li
                  class="list-group-item list-group-item-action"
                  *ngFor="let opt of opcionesDescripcion[i]"
                  (click)="seleccionarDescripcion(i, opt)"
                >
                  {{ opt.descripcion }}
                </li>
              </ul>
            </td>

            <!-- UNIDAD -->
            <td class="position-relative">
              <input
                type="text"
                class="form-control"
                formControlName="unidad"
                (focus)="mostrarUnidad(i)"
                (input)="filtrarUnidad(i); convertirAMayusculas(i, 'unidad')"
                (blur)="ocultarUnidad(i)"
              />
              <ul
                *ngIf="opcionesUnidad[i]?.length"
                class="list-group position-absolute w-100"
                style="z-index: 1000; max-height: 200px; overflow-y: auto"
              >
                <li
                  class="list-group-item list-group-item-action"
                  *ngFor="let u of opcionesUnidad[i]"
                  (click)="seleccionarUnidad(i, u)"
                >
                  {{ u }}
                </li>
              </ul>
            </td>

            <!-- CANTIDAD -->
            <td>
              <input
                type="number"
                class="form-control"
                formControlName="cantidad"
                (change)="actualizarPrecioParcial(equipo)"
              />
            </td>
            <!-- PRECIO UNITARIO -->
            <td>
              <input
                type="number"
                class="form-control"
                formControlName="precio_unitario"
                (change)="onPrecioUniChange(equipo, i)"
              />
            </td>

            <!-- PRECIO PARCIAL -->
            <td class="text-end">
              {{ formatearNumero(calcularPrecioParcial(equipo)) }}
            </td>

            <!-- ACCIONES -->
            <td class="text-center">
              <button
                *ngIf="!equipo.get('id')?.value"
                type="button"
                class="btn btn-outline-success btn-sm me-1"
                (click)="guardar(i)"
                title="Guardar equipo/herramienta"
              >
                <i class="bi bi-check-lg"></i>
              </button>

              <button
                *ngIf="equipo.get('id')?.value && equipo.dirty"
                type="button"
                class="btn btn-outline-primary btn-sm me-1"
                (click)="guardar(i)"
                title="Guardar cambios"
              >
                <i class="bi bi-arrow-clockwise"></i>
              </button>

              <button
                type="button"
                class="btn btn-outline-danger btn-sm"
                (click)="eliminar(i)"
                title="Eliminar equipo/herramienta"
              >
                <i class="bi bi-trash3"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- TOTALES -->
    <div class="card-footer">
      <table class="table table-bordered mb-0">
        <tbody>
          <tr>
            <td>SUBTOTAL DE EQUIPOS</td>
            <td class="text-end">{{ formatearNumero(subtotalEquipos) }}</td>
          </tr>
          <tr>
            <td>
              HERRAMIENTAS ({{ formatearNumero(herramientas) }} % ) * TOTAL DE
              MANO DE OBRA
            </td>
            <td class="text-end">
              {{ formatearNumero(herramientasPorcentaje) }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer text-end fw-bold">
      TOTAL EQUIPO Y HERRAMIENTA: {{ formatearNumero(totalEquipos) }}
    </div>
  </div>
</form>
