<form [formGroup]="formulario" *ngIf="formulario">
  <div class="card border-success mb-4">
    <div class="card-header bg-success text-white">
      <h5 class="mb-0">
        <i class="bi bi-person-workspace me-2"></i>2. Mano de Obra
      </h5>
    </div>
    <div class="card-body" formArrayName="manoObra">
      <div class="d-flex justify-content-end no-export">
        <button
          type="button"
          class="btn btn-outline-success mt-2 mb-3"
          (click)="agregarManoObra()"
        >
          <i class="bi bi-plus-circle me-1"></i> Añadir Mano de Obra
        </button>
      </div>
      <table class="table table-bordered table-hover align-middle mb-3">
        <thead class="table-light text-center">
          <tr>
            <th>Descripción</th>
            <th>Unidad</th>
            <th>Cantidad</th>
            <th>P. Unitario</th>
            <th>Precio parcial</th>
            <th class="no-export">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let trabajo of manoObra.controls; let i = index"
            [formGroupName]="i"
          >
            <!-- Descripción -->
            <td>
              <input
                class="form-control"
                formControlName="descripcion"
                placeholder="Ej. Albañil"
              />
              <div
                *ngIf="trabajo.get('descripcion')?.errors?.['required']"
                class="text-danger small"
              >
                Campo requerido.
              </div>
            </td>

            <!-- Unidad -->
            <td>
              <ng-container *ngIf="trabajo.get('esNuevo')?.value || trabajo.get('editarUnidad')?.value; else verUnidad">
                <select
                  class="form-select"
                  formControlName="unidad"
                  (blur)="trabajo.get('editarUnidad')?.setValue(false); trabajo.get('unidad')?.markAsTouched()"
                >
                  <option value="" selected>Seleccione unidad</option>
                  <option value="BLS">BLS – BOLSA</option>
                  <option value="BRR">BRR – BARRA</option>
                  <option value="CD">CD – CUADRILLA DIA.</option>
                  <option value="CJA">CJA – CAJA</option>
                  <option value="CNX">CNX – CONEXION</option>
                  <option value="EVE">EVE – EVENTO</option>
                  <option value="GL">GL – GALON</option>
                  <option value="GLB">GLB – GLOBAL</option>
                  <option value="HA">HA – HECTAREA</option>
                  <option value="HDR">HDR – HOMBRES POR DIA</option>
                  <option value="HH">HH – HOMBRES HORA</option>
                  <option value="HR">HR – HORA</option>
                  <option value="HRS">HRS – HORAS</option>
                  <option value="HY.">HY. – HOYO</option>
                  <option value="JGO">JGO – JUEGO</option>
                  <option value="KG">KG – KILOGRAMOS</option>
                  <option value="KIT">KIT – KITS</option>
                  <option value="KM">KM – KILOMETRO</option>
                  <option value="KMB">KMB – KILOMETROS BERMA</option>
                  <option value="LT">LT – LITROS</option>
                  <option value="M">M – METRO</option>
                  <option value="M2">M2 – METROS CUADRADOS</option>
                  <option value="M3">M3 – METROS CUBICOS</option>
                  <option value="M3K">M3K – METRO CUBICO POR KILOMETRO</option>
                  <option value="MED">MED – MEDICION</option>
                  <option value="MK">MK – MOTO KILOMETRO</option>
                  <option value="ML">ML – METROS LINEALES</option>
                  <option value="P2">P2 – PIE CUADRADO</option>
                  <option value="PAR">PAR – UN PAR</option>
                  <option value="PER">PER – PERSONAS</option>
                  <option value="PIE">PIE – PIE LINEAL</option>
                  <option value="PLA">PLA – PLANTIN</option>
                  <option value="PTO">PTO – PUNTO</option>
                  <option value="PZA">PZA – PIEZA</option>
                  <option value="RLL">RLL – ROLLO</option>
                  <option value="TLL">TLL – TALLER</option>
                  <option value="TN">TN – TONELADA</option>
                  <option value="TON">TON – TONELADAS</option>
                  <option value="UND">UND – UNIDAD</option>
                </select>
              </ng-container>

              <!-- Modo solo lectura -->
              <ng-template #verUnidad>
                <p
                  (click)="trabajo.get('editarUnidad')?.setValue(true)"
                  class="mb-0"
                  style="cursor: pointer;"
                >
                  {{ unidadTexto(trabajo.get('unidad')?.value) }}
                </p>
              </ng-template>

              <!-- Error de validación -->
              <div
                *ngIf="trabajo.get('unidad')?.errors?.['required'] && trabajo.get('unidad')?.touched"
                class="text-danger small"
              >
                Campo requerido.
              </div>
            </td>


            <!-- Cantidad -->
            <td>
              <input
                type="number"
                class="form-control"
                formControlName="cantidad"
                (keydown)="blockE($event)"
                (change)="onCantidadChange(trabajo)"
              />
            </td>

            <!-- Precio Unitario -->
            <td>
              <input
                type="number"
                class="form-control"
                formControlName="precio_unitario"
                (keydown)="blockE($event)"
                (change)="onPrecioUniChange(trabajo)"
              />
            </td>

            <!-- Precio Parcial -->
            <td>
              <input
                type="number"
                class="form-control bg-white"
                [value]="trabajo.get('total')?.value"
                readonly
              />
            </td>

            <!-- Acción -->
            <td class="text-center no-export">
              <div class="d-flex justify-content-center gap-2">
                <ng-container *ngIf="trabajo.get('esNuevo')?.value; else accionesExistente">
                  <button
                    class="btn btn-success btn-sm"
                    (click)="registrarItem(i)"
                  >
                    <i class="bi bi-check2-circle me-1"></i> Registrar
                  </button>
                  <button class="btn btn-danger btn-sm" (click)="eliminarItem(i)">
                    <i class="bi bi-trash"></i> Eliminar
                  </button>
                </ng-container>

                <ng-template #accionesExistente>
                  <button
                    class="btn btn-primary btn-sm"
                    (click)="actualizarItem(i)"
                  >
                    <i class="bi bi-pencil"></i> Actualizar
                  </button>
                  <button class="btn btn-danger btn-sm" (click)="eliminarItem(i)">
                    <i class="bi bi-trash"></i> Eliminar
                  </button>
                </ng-template>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <table class="table table-bordered table-hover mb-0">
        <tbody>
          <tr>
            <td>Subtotal Mano de Obra</td>
            <td class="text-end">
              {{ subtotalManoObra | number : "1.2-2" }}
            </td>
          </tr>
          <tr>
            <td>
              <p>Cargas Sociales: ({{carga_social | number : "1.2-2"}} %)</p>
            </td>
            <td class="text-end">
              {{ cargasManoObra | number : "1.2-2" }}
            </td>
          </tr>
          <tr>
            <td>
              <p>IVA: ({{iva | number : "1.2-2"}} %)</p>
            </td>
            <td class="text-end">{{ ivaManoObra | number : "1.2-2" }}</td>
          </tr>
          <tr class="table-success fw-bold">
            <td>Total Mano de Obra</td>
            <td class="text-end">{{ totalManoObra | number : "1.2-2" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
