<form [formGroup]="formulario" *ngIf="formulario">
  <div class="card border-success mb-4">
    <div class="card-header bg-success text-white">
      <h5 class="mb-0">
        <i class="bi bi-person-workspace me-2"></i>2. Mano de Obra
      </h5>
    </div>

    <div class="card-body" formArrayName="manoObra">
      <div class="d-flex justify-content-end no-export">
        <button
          type="button"
          class="btn btn-outline-success mt-2 mb-3"
          (click)="agregarManoDeObra()"
        >
          <i class="bi bi-plus-circle me-1"></i> Añadir Mano de Obra
        </button>
      </div>

      <table class="table table-bordered table-hover align-middle mb-3">
        <thead class="table-light text-center">
          <tr>
            <th>Descripción</th>
            <th>Unidad</th>
            <th>Cantidad</th>
            <th>P. Unitario</th>
            <th>Precio Parcial</th>
            <th class="no-export">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let trabajo of manoObra.controls; let i = index"
            [formGroupName]="i"
          >
            <!-- Descripción -->
            <td>
              <div class="position-relative">
                <input
                  type="text"
                  class="form-control input-descripcion"
                  placeholder="Ej. Cemento"
                  [formControl]="getDescripcionControl(i)"
                  (input)="filtrarDescripciones(i, $event)"
                  (focus)="mostrarDescripcionesFila(i)"
                  (blur)="guardarDescripcionPersonalizada(i, $event)"
                />
                <ul
                  *ngIf="
                    descripcionesFiltradas[i]?.length &&
                    mostrarListaDescripcion[i]
                  "
                  class="list-group position-absolute w-100 descripcion-list"
                  style="z-index: 1000; max-height: 150px; overflow-y: auto"
                >
                  <li
                    *ngFor="let d of descripcionesFiltradas[i]"
                    class="list-group-item list-group-item-action p-1"
                    (mousedown)="seleccionarDescripcion(i, d)"
                    style="cursor: pointer"
                  >
                    {{ d }}
                  </li>
                </ul>
                <div
                  *ngIf="trabajo.get('descripcion')?.errors?.['required']"
                  class="text-danger small"
                >
                  Campo requerido.
                </div>
              </div>
            </td>

            <!-- Unidad -->
            <td>
              <div class="position-relative">
                <input
                  type="text"
                  class="form-control form-control-sm input-unidad"
                  placeholder="Seleccione o escriba una unidad"
                  [formControl]="getUnidadControl(i)"
                  (input)="filtrarUnidades(i, $event)"
                  (focus)="mostrarUnidadesFila(i)"
                  (blur)="guardarUnidadPersonalizada(i, $event)"
                />
                <ul
                  *ngIf="unidadesFiltradas[i]?.length && mostrarLista[i]"
                  class="list-group position-absolute w-100 unidad-list"
                  style="z-index: 1000; max-height: 150px; overflow-y: auto"
                >
                  <li
                    *ngFor="let u of unidadesFiltradas[i]"
                    class="list-group-item list-group-item-action p-1"
                    (mousedown)="seleccionarUnidad(i, u)"
                    style="cursor: pointer"
                  >
                    {{ u }}
                  </li>
                </ul>
              </div>
            </td>

            <!-- Cantidad -->
            <td>
              <input
                type="number"
                class="form-control"
                formControlName="cantidad"
                (keydown)="blockE($event)"
                (change)="onCantidadChange(trabajo)"
              />
            </td>

            <!-- Precio Unitario -->
            <td>
              <input
                type="number"
                class="form-control"
                formControlName="precio_unitario"
                (keydown)="blockE($event)"
                (change)="onPrecioUniChange(trabajo)"
              />
            </td>

            <!-- Precio Parcial -->
            <td>
              <input
                type="number"
                class="form-control bg-white"
                [value]="trabajo.get('total')?.value"
                readonly
              />
            </td>

            <!-- Acción -->
            <td class="text-center no-export">
              <div class="d-flex justify-content-center gap-2">
                <ng-container
                  *ngIf="trabajo.get('esNuevo')?.value; else accionesExistente"
                >
                  <button
                    class="btn btn-success btn-sm"
                    (click)="registrarItem(i)"
                  >
                    <i class="bi bi-check2-circle me-1"></i> Registrar
                  </button>
                  <button
                    class="btn btn-danger btn-sm"
                    (click)="eliminarItem(i)"
                  >
                    <i class="bi bi-trash"></i> Eliminar
                  </button>
                </ng-container>

                <ng-template #accionesExistente>
                  <button
                    class="btn btn-primary btn-sm"
                    (click)="actualizarItem(i)"
                  >
                    <i class="bi bi-pencil"></i> Actualizar
                  </button>
                  <button
                    class="btn btn-danger btn-sm"
                    (click)="eliminarItem(i)"
                  >
                    <i class="bi bi-trash"></i> Eliminar
                  </button>
                </ng-template>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="card-footer">
      <table class="table table-bordered table-hover mb-0">
        <tbody>
          <tr>
            <td>Subtotal Mano de Obra</td>
            <td class="text-end">{{ formatearNumero(subtotalManoObra) }}</td>
          </tr>
          <tr>
            <td>Cargas Sociales ({{ formatearNumero(carga_social) }} %)</td>
            <td class="text-end">{{ formatearNumero(cargasManoObra) }}</td>
          </tr>
          <tr>
            <td>IVA ({{ formatearNumero(iva_efectiva) }} %)</td>
            <td class="text-end">{{ formatearNumero(ivaManoObra) }}</td>
          </tr>
          <tr class="table-success fw-bold">
            <td>Total Mano de Obra</td>
            <td class="text-end">{{ formatearNumero(totalManoObra) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>

<app-confirmacion
  *ngIf="mostrarConfirmacion"
  [mensaje]="mensajeConfirmacion"
  (aceptar)="manejarAceptar()"
  (cancelar)="manejarCancelar()"
></app-confirmacion>

<app-ok
  *ngIf="mensajeExito"
  [mensaje]="mensajeExito"
  (close)="manejarOk()"
></app-ok>
<app-error
  *ngIf="mensajeError"
  [mensaje]="mensajeError"
  (close)="manejarError()"
></app-error>
